<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellen.proyecto_agenda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Agregar"
            android:label="agregar" >
        </activity>
        <activity
            android:name=".BuscarPersona"
            android:label="buscar_persona"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".eliminar"
            android:label="eliminar" >
        </activity>
        <activity
            android:name=".pre_modificar"
            android:label="pre_modificar" >
        </activity>
        <activity
            android:name=".modificar"
            android:label="modificar" >
        </activity>
    </application>

</manifest>
